/* *********************** */
/* RESETS */
/* *********************** */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

a,
button {
  cursor: pointer;
}

.visually-hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* *********************** */
/* VARIABLES */
/* *********************** */

:root {
  --Open-Sans-FF: "Open Sans", sans-serif;
  --Raleway-FF: "Raleway", sans-serif;

  --Primary-Color: hsl(243, 87%, 12%);
  --Seconday-Color: hsl(238, 22%, 44%);

  --Primary-Accent: hsl(224, 93%, 58%);
  --Primary-Accent-Hover: hsl(221, 100%, 71%);
  --Secondary-Accent: hsl(170, 45%, 43%);
  --Secondary-Accent-Hover: hsl(170, 63%, 66%);

  --Primary-Neutral: hsl(0, 0%, 100%);
  --Secondary-Neutral: hsl(0, 0%, 76%);

  --Productive-Background-Color: #f8f8fe;

  --Error-Color: hsl(348, 100%, 53%);

  --Box-Shadow: hsla(0, 0%, 0%, 0.1);

  --Transition: 0.8s all;
}

/* *********************** */
/* BODY */
/* *********************** */

body {
  background: var(--Primary-Neutral);
  transition: var(--Transition);
}

/* *********************** */
/* HEADER + NAV */
/* *********************** */

.header {
  max-width: 90rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.5rem 1.5rem 6.13rem 1.5rem;
  margin: 0 auto;
}

.header__logo {
  max-width: 5rem;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 1.63rem;

  font-family: var(--Raleway-FF);
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.17;

  color: var(--Primary-Color);
}

@media (min-width: 31.25em) {
  .header {
    padding: 4.06rem 3.75rem 1.63rem 3.75rem;
  }

  .header__logo {
    max-width: 9.13rem;
  }
}

@media (min-width: 62.5em) {
  .header {
    padding: 4.06rem 5rem 2.5rem 5rem;
  }

  .header__logo {
    max-width: 10.38rem;
  }

  .header__nav-list {
    gap: 3.63rem;

    font-size: 1rem;
    line-height: 1.19;
  }
}

/* *********************** */
/* INTRO - SECTION */
/* *********************** */

.intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;

  padding: 0 1.69rem;

  margin-bottom: 4.63rem;
}

.intro-section__illustration {
  max-width: 40rem;

  margin: 0 8px 0 8px;
}

.intro-section__content {
  text-align: center;
  color: var(--Primary-Color);
}

.intro-section__content-container {
  display: grid;
  justify-items: center;
}

.intro-section__heading {
  max-width: 28ch;

  font-family: var(--Raleway-FF);
  font-weight: 700;
  font-size: 1.5rem;

  margin-bottom: 1.5rem;
}

.intro-section__text {
  max-width: 60ch;

  font-family: var(--Open-Sans-FF);
  font-weight: 400;
  font-size: 0.88rem;

  margin: 0 1rem 2rem 9px;
}

@media (min-width: 62.5em) {
  .intro-section {
    flex-direction: row-reverse;
    gap: 0.81rem;

    padding: 1.25rem 5rem 1.25rem 5rem;
    margin-bottom: 9.13rem;
  }

  .intro-section__illustration {
    margin: 1.63rem 0 0 0;
  }

  .intro-section__content {
    text-align: start;
  }

  .intro-section__content-container {
    justify-items: start;
  }

  .intro-section__heading {
    font-size: 2.5rem;

    margin-bottom: 0.94rem;
  }

  .intro-section__text {
    font-size: 1.06rem;
    line-height: 1.41;
    letter-spacing: 0.53px;

    margin: 0 0 1.56rem 0;
  }
}

/* *********************** */
/* FORM */
/* *********************** */

.intro-section__form {
  max-width: 33.5rem;

  display: grid;
  grid-template-areas:
    "email"
    "button";
  gap: 16px;

  margin: 0 auto;
}

.intro-section__form-email {
  grid-area: email;

  padding: 0.75rem 2rem 0.75rem 1.25rem;
}

input[type="email"] {
  width: 100%;

  font-family: var(--Open-Sans-FF);

  border: solid 0.63px var(--Primary-Color);
  border-radius: 3.13px;

  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
}

.intro-section__form-email::placeholder {
  font-family: var(--Open-Sans-FF);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.36;
  letter-spacing: 0.47px;

  color: var(--Secondary-Neutral);
}

.form-error {
  font-family: var(--Open-Sans-FF);
  color: var(--Error-Color);
}

.button {
  width: 100%;
  font-family: var(--Raleway-FF);
  font-weight: 700;
  font-size: 0.88rem;
  line-height: 1.14;

  color: var(--Primary-Neutral);

  border-radius: 4px;
  background: var(--Primary-Accent);

  box-shadow: 0px 7px 7px -1px var(--Box-Shadow);

  transition: var(--Transition);
}

.intro-section__form-btn {
  grid-area: button;

  font-family: var(--Raleway-FF);
  font-weight: 700;
  font-size: 0.88rem;
  line-height: 1.14;

  color: var(--Primary-Neutral);

  padding: 0.75rem 2rem 0.75rem 2rem;

  border-radius: 4px;
}

@media (min-width: 62.5em) {
  .intro-section__form {
    grid-template-columns: 1fr 12.5rem;
    grid-template-areas: "email button";
    gap: 1rem;

    margin: 0;
  }

  .intro-section__form-email {
    padding: 0.75rem 0.75rem 0.5rem 1.31rem;
  }

  .intro-section__form-email::placeholder {
    font-size: 0.88rem;
    line-height: 1.36;
  }
}

/* *********************** */
/* STAY PRODUCTIVE - SECTION */
/* *********************** */

.productive-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5.44rem;

  padding: 2.5rem 1.69rem 5.13rem 1.75rem;
  margin: 0 auto;

  background: var(--Productive-Background-Color);
  /* Color appears different when using HSL */

  transition: var(--Transition);
}

.productive-section__illustration {
  max-width: 33.94rem;
}

.productive-section__content {
  display: grid;
  gap: 2.5rem;

  text-align: center;
  color: var(--Primary-Color);
}

.productive-section__content-container {
  display: grid;
  justify-items: center;
}

.productive-section__heading {
  font-family: var(--Raleway-FF);
  font-weight: 700;
  font-size: 1rem;

  margin-bottom: 1.5rem;
}

.productive-section__text {
  max-width: 57ch;

  font-family: var(--Open-Sans-FF);
  font-weight: 400;
  font-size: 0.88rem;
}

.text-one {
  margin-bottom: 1rem;
}

.text-two {
  margin-bottom: 1.94rem;
}

.productive-section__link {
  max-width: 10.5rem;
  height: 1.69rem;

  font-family: var(--Open-Sans-FF);
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.33;
  color: var(--Secondary-Accent);

  display: flex;
  align-items: center;
  gap: 0.38rem;

  border-bottom: solid 1px var(--Secondary-Accent);
}

.productive-section__link:is(:hover, :focus-visible) {
  color: var(--Secondary-Accent-Hover);
  border-bottom: solid 1px var(--Secondary-Accent-Hover);
}

@media (min-width: 1000px) {
  .productive-section {
    flex-direction: row-reverse;

    padding: 3.94rem 5rem 6.56rem 5rem;
  }

  .productive-section__illustration {
    margin-top: -2.63rem;
  }

  .productive-section__content {
    text-align: start;
    gap: 2.94rem;
  }

  .productive-section__content-container {
    display: grid;
    justify-items: start;
  }

  .productive-section__heading {
    font-size: 2.5rem;
    line-height: 1.18;

    margin-bottom: 2.31rem;
  }

  .productive-section__text {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .text-two {
    margin-bottom: 0.88rem;
  }

  .productive-section__link {
    font-size: 1rem;
    line-height: 1.38;
  }
}

/* *********************** */
/* TESTIMONIAL */
/* *********************** */

.productive-section__testimonial {
  max-width: 22.19rem;
  position: relative;

  font-family: var(--Open-Sans-FF);
  text-align: start;
  color: var(--Primary-Color);

  display: grid;
  gap: 0.88rem;

  padding: 2.38rem 0.75rem 1.13rem 1.56rem;
  margin: 0 1.25rem 0 1.25rem;

  border-radius: 4px;
  box-shadow: 0 0 0.94rem 0.19rem var(--Box-Shadow);

  background: var(--Primary-Neutral);
}

.productive-section__testimonial::after {
  content: url(../assets/images/icon-quotes.svg);
  position: absolute;
  top: 1.25rem;
  left: 2.13rem;
}

blockquote {
  font-weight: 400;
  font-size: 0.63rem;
  line-height: 1.8;
  letter-spacing: 0.02rem;
}

figcaption {
  display: flex;
  align-items: center;
  gap: 0.47rem;
}

.testimonial__image {
  width: 1.5rem;
  border-radius: 2.5rem;
}

.testimonial__name {
  font-weight: 700;
  font-size: 0.56rem;
  line-height: 1.33;
  letter-spacing: 0.45px;

  margin-bottom: 2px;
}

.testimonial__info {
  font-weight: 400;
  font-size: 0.38rem;
  line-height: 2;
  letter-spacing: 0.02rem;
}

@media (min-width: 1000px) {
  .productive-section__testimonial {
    position: relative;

    gap: 1.06rem;

    padding: 3.06rem 2.13rem 1.63rem 2.06rem;
    margin: 0;

    border-radius: 0.25rem;
    box-shadow: 0px 0px 0.94rem 0.19rem var(--Box-Shadow);
  }

  blockquote {
    font-size: 0.81rem;
    line-height: 1.77;
    letter-spacing: 0.03rem;
  }

  .testimonial__image {
    width: 2rem;
  }

  .testimonial__name {
    font-size: 0.69rem;
    line-height: 1.36;
    letter-spacing: 0.03rem;
  }

  .testimonial__info {
    font-size: 0.5rem;
    line-height: 1.88;
    letter-spacing: 0.03rem;
  }
}

/* *********************** */
/* ACCESS - SECTION */
/* *********************** */

.access-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  padding: 3.38rem 1.69rem 4.44rem 1.69rem;
  margin: 0 auto;

  background: var(--Seconday-Color);
}

.access-section__content {
  color: var(--Primary-Neutral);
  text-align: center;
}

.access-section__heading {
  font-family: var(--Raleway-FF);
  font-weight: 700;
  font-size: 1.13rem;
  line-height: 1.33;

  margin-bottom: 0.94rem;
}

.access-section__text {
  max-width: 57ch;

  font-family: var(--Open-Sans-FF);
  font-weight: 400;
  font-size: 0.88rem;
}

.access-section__form {
  width: 100%;
  max-width: 30rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.access-section__form-email::placeholder {
  font-weight: 400;
  font-size: 0.63rem;
  line-height: 1.2;
}

.access-section__form-email {
  padding: 0.63rem 0.75rem 0.75rem 1.31rem;

  border-radius: 0.25rem;
}

.access-section__form-btn {
  font-weight: 700;
  font-size: 0.63rem;
  line-height: 1.2;

  padding: 0.5rem 2rem 0.56rem 2rem;
}
